{% extends "base.html" %}
{% set active_page = 'user' %}
{% block content %}
<div class="container">
  <h1>Edit Slide <small>{{ slide.title }}</small></h1>

  <form role="form" action="" method="post" name="login" class="form-horizontal">

    {{ form.hidden_tag() }}

    <div class="form-group">
      <label for="form-title" class="control-label col-sm-3">Title</label>
      <div class="col-sm-9">
	{{ form.title(class='form-control input-lg', id='form-title', placeholder='Enter Title') }}
      </div>
    </div>
    <div class="form-group">
      <label for="form-description" class="control-label col-sm-3">Description</label>
      <div class="col-sm-9">
	{{ form.description(class='form-control input-lg', id='form-description', placeholder='Enter Description') }}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
	<button type="submit" class="btn btn-default btn-lg">Update Slide</button>
      </div>
    </div>
  </form>

  <h2>Photos</h2>
  {% if photos %}
  <table class="table-bordered table">
    <tbody>
      {% for photo in photos %}
      <tr>
	<td>{{ photo.title }}</td>
	<td>
	  <a href="{{ url_for('delete_photo', photo_id = photo.id) }}">
	    <button class="btn btn-default">
	      <span class="glyphicon glyphicon-remove"></span>
	    </button>
	  </a>
	</td>
	<td>
	  <a href="{{ url_for('edit_photo', photo_id = photo.id) }}">
	    <button class="btn btn-default">
	      <span class="glyphicon glyphicon-pencil"></span>
	    </button>
	  </a>
	</td>
	<td>
	  <a href="#">
	    <button class="btn btn-default">
	      <span class="glyphicon glyphicon-eye-open"></span>
	    </button>
	  </a>
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>You don't have any photo (yet).</p>
  {% endif %}
  <a class="btn btn-lg btn-success" href="{{ url_for('new_photo', slide_id = slide.id) }}" role="button">Add a New Photo to this Slide</a>

</div>
{% endblock %}
