{% extends "base.html" %}
{% set active_page = 'user' %}
{% block content %}
<div class="container">
  <h1>Edit Journey <small>{{ journey.title }}</small></h1>

  <form role="form" action="" method="post" name="login" class="form-horizontal">

    {{ form.hidden_tag() }}

    <div class="form-group">
      <label for="form-title" class="control-label col-sm-3">Title</label>
      <div class="col-sm-9">
	{{ form.title(class='form-control input-lg', id='form-title', placeholder='Enter Title') }}
      </div>
    </div>
    <div class="form-group">
      <label for="form-description" class="control-label col-sm-3">Description</label>
      <div class="col-sm-9">
	{{ form.description(class='form-control input-lg', id='form-description', placeholder='Enter Description') }}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
	<button type="submit" class="btn btn-default btn-lg">Update Journey</button>
      </div>
    </div>
  </form>

  <h2>Slides</h2>
  {% if slides %}
  <table class="table-bordered table">
    <thead>
      <tr>
	<th>Title</th>
	<th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for slide in slides %}
      <tr>
	<td>{{ slide.title }}</td>
	<td>
	  <a href="{{ url_for('delete_slide', slide_id = slide.id) }}"><span class="glyphicon glyphicon-off"></span></a>
	  <a href="#"><span class="glyphicon glyphicon-edit"></span></a>
	  <a href="#"><span class="glyphicon glyphicon-home"></span></a>
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>You don't have any slide (yet).</p>
  {% endif %}
  <a class="btn btn-lg btn-success" href="{{ url_for('new_slide', jid = journey.id) }}" role="button">Add a New Slide to this Journey</a>

</div>
{% endblock %}
