{% extends "base.html" %}
{% set active_page = 'home' %}
{% block content %}
<div class="container">
  <h1>{{ journey.title }} <small>by {{ journey.user.login }}</small></h1>
  {% for slide in journey.slides %}

  <div class="row">
    {% if loop.index % 2 %}
    <div class="col-md-7">
      <h3>{{ slide.title }}</h3>
      <p>
	{{ slide.description }}
      </p>
      <a class="btn btn-success" href="{{ url_for('view_slide', slide_id = slide.id) }}" role="button">View Slide</a>
    </div>
    <div class="col-md-5">
      <span class="thumbnail">
	<a href="{{ url_for('view_slide', slide_id = slide.id) }}">
	  <img src="{{ url_for('static', filename = slide.get_cover()) }}" />
	</a>
      </span>
    </div>
    {% else %}
    <div class="col-md-5">
      <span class="thumbnail">
	<a href="{{ url_for('view_slide', slide_id = slide.id) }}">
	  <img src="{{ url_for('static', filename = slide.get_cover()) }}" />
	</a>
      </span>
    </div>
    <div class="col-md-7">
      <h3>{{ slide.title }}</h3>
      <p>
	{{ slide.description }}
      </p>
      <a class="btn btn-success" href="{{ url_for('view_slide', slide_id = slide.id) }}" role="button">View Slide</a>
    </div>
    {% endif %}
  </div>

  {% endfor %}
</div>
{% endblock %}
