{% extends "base-slide.html" %}
{% set active_page = 'user' %}
{% block content %}
<div class="container main">

  {% if not slide.photos.first() %}
  <section id="slide-1" class="slide" data-photo="{{ url_for('static', filename = 'img/notfound-1920.png') }}">
    <div class="photo-background">
      <div class="photo-container">
	<div class="photo-content">
          <h2>Oops</h2>
	  <p>
	    No photo available for this slide.
	  </p>
        </div>
      </div>
    </div>
  </section>
  {% endif %}

  {% for photo in slide.photos %}

  <section id="slide-{{ photo.id }}" class="slide" data-photo="{{ url_for('static', filename = photo.get_large()) }}">
    <div class="photo-background">
      <div class="photo-container">
	<div class="photo-content">
	  <div class="photo-content-head">
            <h2><small>{{ loop.index }}/{{ nb_photos }}</small> {{ photo.title }}</h2>
	    <a class="go-prev btn btn-default {% if loop.index > 1 %}btn-success{% endif %}" href="#">
	      <span class="glyphicon glyphicon-chevron-left" />
	      Prev
	    </a>
	    {% if loop.index != nb_photos %}
	    <a class="go-next btn btn-default btn-success" href="#">
	      Next
	      <span class="glyphicon glyphicon-chevron-right" />
	    </a>
	    {% elif next_slide %}
	    <a class="btn btn-default btn-success" href="{{ url_for('view_slide', slide_id=next_slide.id) }}">
	      Continue the Tour
	      <span class="glyphicon glyphicon-chevron-right" />
	    </a>
	    {% endif %}
	  </div>
	  {% if photo.description %}
	  <p>
	    {{ photo.description }}
	  </p>
	  {% endif %}
        </div>
      </div>
    </div>
  </section>

  {% endfor %}

</div>
{% endblock %}
